a:link {
	color: black;
	text-decoration: none;
}

body {
	margin : 0px;
  background-image: linear-gradient(54deg,rgba(60,76,175,.95) 34%,hsla(0,34%,71%,.95));
}

.navbar {
	
/*  overflow: visible;*/
  background-color: black;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  opacity: 1;
}

.navbar h {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 600;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 600;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: white;
  color: black;
}

.navbar h:hover {
  background: white;
  color: black;
}

.block {
	float: center;
}



.fa {
  padding: 20px;
  font-size: 8vw;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.header {
    display: -webkit-flex;
    display: flex;
}

.personal_data {
	margin-left: 10px;
	color: black;
	font-size: 35px;
	font-family: 'Grenze', serif;
}

.name {
	font-size: 70px;
	letter-spacing: 2px;
	font-family: 'Grenze', serif;
	font-weight: 1000;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.role {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 30px;
}

.list {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px
	font-size : 50px;
}

dl {
	display: block;
	margin-left: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
	float: left;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 30px;
}
dd {
	font-size: 30px;
    padding-left: 100px;
    color: #fff;
    letter-spacing: 2px;
}

.social_media {
		margin-top: 50px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px
}

#profile_pic {
	width: 250px;
	height: 350px;
	margin-right: 80px;
}

.header {
	position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: 0px;
}



.header_outer {
	position: relative;
	width: 100%;
}

.header_wrapper {
	display: -webkit-flex;
    display: flex;
    margin-left: 15vw;
    position: relative;
    align-self: center;
    margin-top: 20vh;
}

#profile_pic {
	-webkit-align-self : center;
	align-self: center;
	border: 5px solid #fff;
	border-radius: 5px;
    box-shadow: 0 0 27px rgba(96,96,96,.34);
    margin-top: 10px;
    top: 40px;
    position: relative;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}






/*#####################	Styles for about section		######################*/

.about h3 {
    font-size: 40px;
    font-family: Roboto Slab;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.about {
	padding: 3em;
	height: 100vh;
}

.about_content {
	margin-top: 20vh;
}

.description {
	display: flex;
	margin: 10px;
	height: 50vh;
}

.about p1 {
	font-family: Sacramento ;
	font-size: 30px;

}

.description p2 {
	font-family: Lexend Exa ;
	font-size: 18px;
	align-self: center;
}

.description img {
	height : 140px;
	align-self: center;
	margin-left: 20%;
	border-radius: 10px;
}





/*############################ Style for Skill Section #####################################*/

.skill {
	padding: 3em;
	height: 100vh;
}

.skill_title {
	align-self: center;
	font-family: Roboto Slab;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.skill_content {
	margin-top: 20vh;
}


.skill_inner {
	align-self: center;
    align-items: center;
}


.skill_item {
	font-family: Lexend Exa;
    padding: 7px;
    min-width: 200px;
    text-align: center;
    display: inline-block;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}


/*############################ Style for Footer Section #####################################*/

.footer {
	position: relative;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(54deg,rgba(60,76,175,.95) 34%,hsla(0,34%,71%,.95));
    margin-top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer_outer {
	position: relative;
	width: 100%;
}

.footer_wrapper {
	display: -webkit-flex;
    display: flex;
    position: relative;
    align-self: center;
}

.footer.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.footer_contact {
	font-family: Lexend Exa;
	color : white;
	font-size: 20px;
	float: left;	
}

.footer_note {
	font-family: Lexend Exa;
	color : white;
	font-size: 20px;
	float: right;
}
